body {background-color: powder blue;}
h1, h2, p {color: green;
          font-family: calibri;
          font-size: 12px;
          text-align: center;
}    
div.stan {
    background-color: blue;
    color: white;
    margin: 20px 0 20px 0;
    padding: 20px;
} 
